.makeStyles-drawer-2 .makeStyles-toolbar-5, .makeStyles-drawerPaper-6 .makeStyles-toolbar-5 {
    background-color: #3aa6dd;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/feeded_logo.png');
  }